{% extends 'core/base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
    <body style="background-image: url(https://penntoday.upenn.edu/sites/default/files/2021-08/computer-science-career.jpg);">
        <section id="nav-bar">
            <nav class="navbar navbar-light justify-content-between" style="background-color: black">
                <span class="navbar-brand px-2 py-1 mb-0 h1 text-white">
                    <h2>OrganAIze</h2>
                </span>
                <form class="form-inline">
                  <button class="btn btn-light my-2 my-sm-0 mr-3" type="button">
                    <a href="/homepage" style="color: black;">Back to Home</a>
                  </button>
                </form>
            </nav>

        </section>


        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                {% endfor %}
              {% endif %}
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-white text-black" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <div class="mb-md-5 mt-md-4 pb-5">



                        
                        <form action="" method="post">
                          {% csrf_token %}
                          


                          <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                          <p class="text-black-50 mb-5">Please enter your email and password!</p>
            
                          <div class="form-outline form-black mb-4">
                            <input type="text" class="form-control form-control-lg" name="username"/>
                            <label class="form-label" for="typeEmailX">Email</label>
                          </div>
            
                          <div class="form-outline form-black mb-4">
                            <input type="text" class="form-control form-control-lg" name="password"/>
                            <label class="form-label" for="typePasswordX">Password</label>
                          </div>
            
                          <p class="small mb-5 pb-lg-2"><a class="text-black-50" href="#!">Forgot password?</a></p>
            
                          <input class="btn btn-outline-black btn-lg px-5" value="submit" type="submit"></input>
                        </form>






                      </div>
                      <div>
                        <p class="mb-0">Don't have an account? <a href="signup" class="text-black-50 fw-bold">Sign Up</a>
                        </p>
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

    </body>

</html>

{% endblock %}